<h3 mat-dialog-title>Підкатегорія</h3>
<div mat-dialog-content>
  <form [formGroup]="createForm">
    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Назва" formControlName="name" required>
      <mat-error *ngIf="name.errors?.required">Введіть назву.</mat-error>
    </mat-form-field>
    <mat-form-field class="create-form-field" color="accent">
      <mat-select placeholder="Категорія" formControlName="category" required>
        <mat-option *ngFor="let cat of categories" [value]="cat">
          {{cat.name}}
        </mat-option>
      </mat-select>
      <!--<input (keyup)="typeChange()"-->
             <!--formControlName="type"-->
             <!--[matAutocomplete]="auto"-->
             <!--matInput-->
             <!--placeholder="Тип"-->
             <!--required>-->
      <!--<mat-autocomplete #auto="matAutocomplete"  [displayWith]="autocompleateDisplay">-->
        <!--<mat-option *ngFor="let type of types" [value]="type">-->
          <!--{{type.name}}-->
        <!--</mat-option>-->
      <!--</mat-autocomplete>-->
      <mat-error *ngIf="category.errors?.required">Виберіть категорію.</mat-error>
    </mat-form-field>


    <h3>SEO</h3>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Заголовок(title)" formControlName="title" required>
      <mat-error *ngIf="title.errors?.required">Введіть заголовок.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Заголовок(h1)" formControlName="header" required>
      <mat-error *ngIf="header.errors?.required">Введіть заголовок.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Опис" formControlName="description">
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="URL" formControlName="linkValue" required>
      <mat-error *ngIf="linkValue.errors?.required">Введіть URL.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Текст" formControlName="textContent">
    </mat-form-field>
  </form>
</div>
<mat-card-actions>
  <button mat-button matDialogClose>Скасувати</button>
  <div [matTooltipDisabled]="createForm.valid"
       matTooltip="заповніть всі поля">
    <button [disabled]="createForm.invalid"
            (click)="onCreateEntity()"
            mat-button>Створити</button>
  </div>
</mat-card-actions>

<style>.create-form-field {width: 100%;}</style>
