<div class="product">
  <div class="product-image" [ngStyle]="{'background-image': 'url(' + apiUrl + 'images/' + product.pathImage + ')'}"></div>
  <div class="product-title">
    {{product.name}}
  </div>
  <div class="product-price">
    {{product.price | price}}грн.
  </div>
  <div class="product-count">
    <button mat-icon-button (click)="incrementCount(product)">
      <mat-icon>add</mat-icon>
    </button>
    <span>{{product.count}}</span>
    <button mat-icon-button (click)="decrementCount(product)">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
  <div class="product-total-price">
    {{(product.price * product.count) | price}}грн.
  </div>
</div>
