.product {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 10px;

  div {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  &-image {
    height: 110px;
    width: 170px;
    background: no-repeat center/contain;
  }

  &-title {
    width: 200px;
  }

  &-price {
    width: 80px;
  }

  &-count {
    flex-direction: column;
  }

  &-total-price {
    width: 100px;
  }
}
