.order-container {
  //padding-right: 10%;

  opacity: inherit;
  color: #fff;
  
  .cdk-column-actions {
    width: 55px;
  }

  

  .controllers-container, .additional-container {
    display: flex;
    background-color: #424242;
    border-bottom: 1px solid #808080;
    opacity: inherit;
    padding: 8px 40px;
  }

  .controllers-container {
    justify-content: space-between;
    align-items: center;
    mat-slide-toggle {
      color: #aaa;
      margin: 0 20px;
    }
  }

  .additional-container {
    flex-direction: column;
  }

  .filtration-form {
    &-item {
      margin-right: 30px;
    }
  }

  .person-statistic {
    display: grid;
    grid-template: 1fr / repeat(auto-fit, minmax(100px, 200px));
    grid-gap: 1vw 30px;
    align-items: center;

    &-spinner {
      justify-self: center;
    }
  }

  .cdk-column-id {
    width: 55px;
  }

  table{
      width: 100%;
  }
  table th.mat-header-cell, tr  {
    text-align: center;
  }


  .mat-sort-header-container {
    justify-content: center;
  }

  .mat-cell {
    border-right: 1px solid #e0e0e0;
    text-align: center;
    padding-left: 0!important;
    padding-right: 0!important;
  }
  .mat-cell:last-child  {
    border-right: 0;

  }
}
