<div class="order-container" (keyup.enter)="onSearchClick()" (keyup.esc)="onResetClick()">
  <div class="controllers-container">
    <mat-form-field color="accent">
      <input matInput class="searchOrders" (keyup)="!showFilters && onSearchClick()" placeholder="Пошук замовлень" [(ngModel)]="searchFilter">
    </mat-form-field>

    <div>
      <mat-slide-toggle [(ngModel)]="showFilters" (change)="onShowFilterChange($event.checked)" labelPosition="before" #filter>
        Фільтрація
      </mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="showStats" (change)="onShowStatisticChange($event.checked)" labelPosition="before">
        Статистика
      </mat-slide-toggle>
      <mat-slide-toggle (change)="archivedChange($event.checked)" labelPosition="before">
        Iсторія:
      </mat-slide-toggle>
    </div>

  </div>
  <div class="additional-container">
    <div class="person-statistic" *ngIf="showStats">
      <mat-card>
        <mat-card-header>
          Загальна сума
        </mat-card-header>
        <mat-card-content>
          {{statistic?.totalSum | price}}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          Середня сума
        </mat-card-header>
        <mat-card-content>
          {{statistic?.avgSum | price}}
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          К-ть замовлень:
        </mat-card-header>
        <mat-card-content>
          {{statistic?.total}}
        </mat-card-content>
      </mat-card>

      <mat-progress-spinner *ngIf="showLoading"
        class="person-statistic-spinner"
        diameter="40"
        color="accent"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>

    <form [formGroup]="filterForm" class="filtration-form" [hidden]="!showFilters">
      <mat-form-field color="accent" class="filtration-form-item">
        <input matInput [matDatepicker]="pickerFrom" placeholder="Дата від" formControlName="dateFrom">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field color="accent" class="filtration-form-item">
        <input matInput [matDatepicker]="pickerTo" placeholder="Дата до"  formControlName="dateTo">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
      <mat-form-field color="accent" class="filtration-form-item">
        <input type="number" matInput placeholder="Мін сума" formControlName="sumFrom">
      </mat-form-field>
      <mat-form-field color="accent" class="filtration-form-item">
        <input type="number" matInput placeholder="Макс сума" formControlName="sumTo">
      </mat-form-field>

      <button class="filtration-form-item"
              mat-button
              (click)="onSearchClick()"
      >Пошук</button>
      <button class="filtration-form-item"
              mat-button
              (click)="onResetClick()"
              *ngIf="enableFilter"
      >Очистити</button>
    </form>

  </div>

  <table mat-table [dataSource]="dataSource"
         (matSortChange)="sortDataChange($event)"
         matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>


    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef> Клієнт</th>
      <td mat-cell *matCellDef="let row">
        {{row.userResponse.name}} {{row.userResponse.surName}}<br>
        {{row.userResponse.address}}<br>
        квартира/номер будинку : {{row.userResponse.addressNumber}}
      </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Номер</th>
      <td mat-cell *matCellDef="let row"> {{row.userResponse.number}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата</th>
      <td mat-cell *matCellDef="let row"> {{row.date | date: 'dd/MM/yy'}} {{row.time}} </td>
    </ng-container>

    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef> Замовлення</th>
      <td mat-cell *matCellDef="let row">
        <div *ngFor="let comm of row.goodsResponseList">{{comm.name}} - к-сть:{{comm.count}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef class="description"> Опис</th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="sum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Сума</th>
      <td mat-cell *matCellDef="let row"> {{row.sum | price}} <br> {{row.deliveryPrice | price}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <!--Дії-->


      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-button
                (click)="archiveOrder(row)">
          {{row.archive ? 'З архіву' : 'В архів'}}
          <!--<mat-icon>open_in_browser</mat-icon>-->

        </button>
        <button mat-button
                (click)="updateOrder(row)">
          Змінити
        </button>
        <button mat-button
                (click)="deleteOrder(row.id)">
          Видалити
          <!--<mat-icon>remove</mat-icon>-->
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator (page)="paginationChange($event)"
                 [pageSizeOptions]="[10, 25, 50, 100]"
                 [length]="totalItems">
  </mat-paginator>
</div>


