<div class="container">
  <div class="side-nav">
    <div class="side-nav-item" *ngFor="let route of routes">
      <a
         class="side-nav-item-link"
         [routerLink]="route.path"
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         mat-raised-button>
        {{route.name}}
      </a>
    </div>
  </div>
  <div class="children" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>

<style>
  app-footer {
    display: none;
  }
  .footer-container {
    display: none;
  }
</style>
