<div class="table-container">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Назва </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="seoInfo">
      <th mat-header-cell *matHeaderCellDef> SEO </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="showSeoInfo(row)" matTooltip="переглянути сео інформацію">
          <mat-icon>assignment</mat-icon>
        </button>
      </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <!--Дії-->
        <button (click)="createElement()"
                color="primary"
                mat-raised-button>Добавити</button>
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button
                (click)="createElement(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
                (click)="removeItem(row.id)">
          <mat-icon>remove</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
