<h3 mat-dialog-title>Створити категорію</h3>
<div mat-dialog-content>
  <form [formGroup]="createForm">
    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Назва" formControlName="name" required>
      <mat-error *ngIf="name.errors?.required">Введіть назву.</mat-error>
    </mat-form-field>

    <div class="image-container">
      <div class="image"
           [ngStyle]="{'background-image':'url(' + imgToDisplay + ')', 'height': imageElement.offsetWidth / 16 * 9 + 'px' }"
           #imageElement
      ></div>

      <div class="image-select-container">
        <button mat-stroked-button (click)="$event.preventDefault();fileInput.click()">Вибрати фото</button>
      </div>
      <input #fileInput (change)="onPhotoSelected($event.target)" type="file"  placeholder="Фото" hidden accept="image">
    </div>

    <h3>SEO</h3>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Заголовок(title)" formControlName="title" required>
      <mat-error *ngIf="title.errors?.required">Введіть заголовок.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Заголовок(h1)" formControlName="header" required>
      <mat-error *ngIf="header.errors?.required">Введіть заголовок.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Опис" formControlName="description">
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="URL" formControlName="linkValue" required>
      <mat-error *ngIf="linkValue.errors?.required">Введіть URL.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Текст" formControlName="textContent">
    </mat-form-field>


  </form>
</div>
<div mat-dialog-actions>
  <button mat-button matDialogClose>Скасувати</button>
  <div [matTooltipDisabled]="createForm.valid"
       matTooltip="заповніть всі поля">
    <button [disabled]="createForm.invalid"
            (click)="onCreateEntity()"
            mat-button>Створити</button>
  </div>
</div>

<style>
  .create-form-field {width: 100%;}

  .image-container {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-gap: 10px 2%;
  }

  .image {
    background-size: 100%;
    background-position: center;
  }
</style>
