<h3 mat-dialog-title>SEO</h3>
<div mat-dialog-content>
  <h3>Заголовок (title)</h3>
  <p>
    {{seoInfo.title}}
  </p>
  <h3>Заголовок (h1)</h3>
  <p>
    {{seoInfo.header}}
  </p>
  <h3>Опис (description)</h3>
  <p>
    {{seoInfo.description}}
  </p>
  <h3>URL</h3>
  <p>
    {{linkValue}}
  </p>
  <h3>URL</h3>
  <p>
    {{seoInfo.textContent}}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button matDialogClose>Закрити</button>
</div>
