

.autocomplete {
  width: 100%;
  &-option {
    display: flex;
    align-items: center;
  }

  &-image {
    background: no-repeat center/contain;
    height: 29px;
    width: 55px;
    margin-right: 15px;
    display: inline-block;
  }
}
