<h3 mat-dialog-title>Оновити замовлення ID: {{order.id}}</h3>
<div mat-dialog-content>
  <div class="product-container">
    <app-product-item *ngFor="let product of order.goodsResponseList" [product]="product"></app-product-item>
    <h4 *ngIf="addedProducts.length > 0">Добавлені</h4>
    <app-product-item *ngFor="let product of addedProducts" [product]="product"></app-product-item>

    <div class="product-add-form">
      <mat-form-field class="autocomplete">
        <input
          matInput
          placeholder="Добавити страву"
          [formControl]="productSearchCtrl"
          [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete"
                          (optionSelected)="optionSelected($event.option.value)"
                          [displayWith]="displayFunc">
          <mat-option *ngFor="let product of products | async" [value]="product">
            <div class="autocomplete-option">
              <span class="autocomplete-image" [ngStyle]="{'background-image': 'url(' + apiUrl + 'images/' + product.pathImage + ')'}"></span>
              <span>{{product.name}}</span>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button matDialogClose>Скасувати</button>

    <button (click)="onSubmit()"
            mat-button>Підтвердити</button>
</div>
