<mat-toolbar>
  <button mat-flat-button class="main-logo">Deluxe</button>
  <a *ngFor="let route of routes"
     mat-button
     [routerLink]="route.path"
     routerLinkActive="mat-accent"
     [disabled]="route.disabled"
  >{{route.name}}</a>

  <!--<button (click)="onLogInClick()">Log in</button>-->
</mat-toolbar>
