<h3 mat-dialog-title>Підкатегорія</h3>
<div mat-dialog-content>
  <form [formGroup]="createForm">
    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Назва" formControlName="name" required>
      <mat-error *ngIf="name.errors?.required">Введіть назву.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent">
      <input matInput placeholder="Ціна" formControlName="price" type="number" required>
      <mat-error *ngIf="price.errors?.required">Введіть ціну.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent" *ngIf="!sale.value">
      <mat-select (selectionChange)="onCategorySelected()" placeholder="Категорія" formControlName="category" required>
        <mat-option *ngFor="let cat of categories" [value]="cat">
          {{cat.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="category.errors?.required">Виберіть категорію.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent"
                    matTooltip="Виберіть спочатку категорію."
                    [matTooltipDisabled]="category.touched && category.valid"
                    *ngIf="!sale.value"
    >
      <mat-select placeholder="Підкатегорія"
                  formControlName="subcategory"
                  required>
        <mat-option *ngFor="let subcat of subcategories" [value]="subcat">
          {{subcat.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="subcategory.errors?.required">Виберіть підкатегорію.</mat-error>
    </mat-form-field>

    <mat-form-field class="create-form-field" color="accent"  *ngIf="!sale.value">
      <input matInput placeholder="Вага" formControlName="weight" type="number" required>
      <mat-error *ngIf="weight.errors?.required">Введіть вагу.</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="sale" class="create-form-field">
      <textarea matInput placeholder="Опис" formControlName="description"></textarea>
    </mat-form-field>

    <div class="select-image-container">
      <button mat-stroked-button (click)="$event.preventDefault();fileInput.click()">Вибрати фото</button>
    </div>

    <mat-form-field *ngIf="!sale" class="create-form-field">
      <textarea matInput placeholder="Опис" formControlName="description"></textarea>
    </mat-form-field>

    <div class="image"
         [ngStyle]="{'background-image':'url(' + imgToDisplay + ')', 'height': imageElement.offsetWidth / 16 * 9 + 'px' }"
         #imageElement
    ></div>

    <mat-slide-toggle class="sale-toggle" formControlName="sale">Акція</mat-slide-toggle>

    <input #fileInput (change)="onPhotoSelected($event.target)" type="file"  placeholder="Фото" hidden accept="image">
  </form>
</div>
<mat-card-actions>
  <button mat-button matDialogClose>Скасувати</button>
  <span [matTooltipDisabled]="createForm.valid || sale.value"
       matTooltip="заповніть всі поля">
    <button [disabled]="createForm.invalid && !sale.value"
            (click)="onCreateEntity()"
            mat-button>Створити</button>
  </span>
</mat-card-actions>

<style>
  .create-form-field {width: 48%;}

  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .image {
    width: 40%;
    background-size: 100%;
    background-position: center;
  }

  .sale-toggle {
    position: absolute;
    right: calc(10vw + 100px);
    margin-top: -48px;
  }
</style>
