<div class="product-container">
  <mat-form-field>
    <input matInput [(ngModel)]="searchFilter" (keyup)="applyFilter()" placeholder="Фільтр" >
    <button mat-button *ngIf="searchFilter" matSuffix mat-icon-button aria-label="Clear" (click)="searchFilter='';updateData()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource"
         matSort (matSortChange)="sortDataChange($event)">

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" class="product-image-container">
        <img [src]="row.pathImage ? imagePrefix + row.pathImage : noImageFilePath" class="product-image">
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Назва </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
    <style>
      table th.mat-header-cell, tr  {
        text-align: center;
      }
      .mat-column-image {
        width: 150px;
        margin-right: 10px;
      }
      .mat-column-name {
        width: 130px;
        margin-right: 10px;
      }
      .mat-column-subcategoryName {
        width: 110px;
      }
      .mat-column-price, .mat-column-weight {
        width: 70px;
      }
    </style>

    <ng-container matColumnDef="subcategoryName">
      <th mat-header-cell *matHeaderCellDef> Підкатегорія </th>
      <td mat-cell *matCellDef="let row"> {{row.subCategoryResponse?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ціна </th>
      <td mat-cell *matCellDef="let row"> {{row.price  | price}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Вага </th>
      <td mat-cell *matCellDef="let row"> {{row.weight}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Опис </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <!--Дії-->
        <button (click)="createElement()"
                color="primary"
                mat-raised-button>Добавити</button>
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button
                (click)="createElement(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
                (click)="removeItem(row.id)">
          <mat-icon>remove</mat-icon>
        </button>
        <span *ngIf="row.sale" class="product-sale">акція</span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>

  <mat-paginator (page)="paginationChange($event)"
                 [pageSizeOptions]="[10, 25, 50, 100]"
                 [length]="totalItems">
  </mat-paginator>
</div>
