.product-container {
  width: 100%;
  //box-sizing: border-box;
  //padding: 0 10% 0 4%;
  opacity: inherit;


  table {
    width: 100%;
  }

  .cdk-column-id {
    width: 55px;
  }

  mat-form-field {
    mat-icon, .mat-input-element {
      color: #fff;
    }
  }
  .product-image {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transition: all .2s ease-in-out;
    transform: translateX(-50%);

    &-container {
      height: 100px;
      position: relative;

      &:hover .product-image {
        height: 300px;
        z-index: 10;
      }
    }
  }

  .product-sale {
    position: absolute;
    background: red;
    right: 20px;
    cursor: default;
    margin: 9px 0;
    padding: 0 9px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }

}
