@import 'theme';

* { margin: 0; }

html {
  min-height: 100vh;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  max-height: 60px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
