@import './variables';

@include mat-core();

$deluxe-app-theme: mat-dark-theme($deluxe-admin-primary, $deluxe-admin-accent, $deluxe-admin-warn);
//$deluxe-app-theme: mat-light-theme($deluxe-admin-primary, $deluxe-admin-accent, $deluxe-admin-warn);
@include angular-material-theme($deluxe-app-theme);

@mixin deluxe-card-theme() {
  .card-container {
    //background-color: rgba(55, 55, 55, .85);
    //background-color: rgba(255, 255, 255, .85);
  }
}
@include deluxe-card-theme();
@mixin deluxe-admin-logo() {
  .main-logo {
    background-color: mat-color($mat-yellow, A400);
    color: mat-color($mat-grey, 900);
    cursor: default;
  }
}
@include deluxe-admin-logo();
