@import '~@angular/material/theming';

$deluxe-admin-primary: mat-palette($mat-indigo);
$deluxe-admin-accent: mat-palette($mat-green, A200, A100, A400);
$deluxe-admin-warn: mat-palette($mat-red);
