.auth-background {
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  max-width: 400px;
}
h3 {
  position: relative;
}

.auth-form {
  width: 100%;
}

.close-button {
  position: absolute;
  top: -22px;
  right: -20px;
}

.mat-dialog-content {
  overflow: visible;
}

.full-width {
  width: 100%;
}
