<div class="auth-background">
  <mat-card class="auth-container">
    <mat-card-title>
      Введіть свої дані що увійти в систему
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <div mat-dialog-content>
          <table cellspacing="0" class="auth-form">
            <tr>
              <td>
                <mat-form-field class="order-form-login full-width" color="accent"  autofocus>
                  <input matInput placeholder="Логін" formControlName="login" required>
                  <mat-error *ngIf="login.errors?.required">Введіть логін.</mat-error>
                  <mat-error *ngIf="login.errors?.pattern">Логін вказаний невірно.</mat-error>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <td>
                <mat-form-field class="order-form-password full-width" color="accent">
                  <input matInput type="password" placeholder="Пароль" formControlName="password" required>
                  <mat-error *ngIf="password.errors?.required">Введіть пароль.</mat-error>
                  <mat-error *ngIf="password.errors?.minLength">Пароль надто короткий.</mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        <div mat-dialog-actions class="auth-actions">
          <button mat-button type="reset">Очистити</button>
          <button mat-button type="submit" [disabled]="authForm.invalid">Підтвердити</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
